.support {
	position: relative;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	background-color: var(--gray-very-light);
	margin-left: calc(-1 * var(--outer-margin));
	margin-right: calc(-1 * var(--outer-margin));
	padding-bottom: var(--space);

	@include mq($from: desktop) {
		flex-direction: row;
	}

	* {
		scroll-margin-top: calc(var(--navbar-height) + 1rem);
	}

	ul {
		list-style: none;
		padding-left: calc(1 * var(--outer-margin));
		padding-top: var(--space);

		@include mq($from: desktop) {
			padding-left: calc(3 * var(--outer-margin));
		}

		ul {
			padding-left: 0rem;
		}
	}

	.items {
		padding-top: var(--space);
		flex: 1 1 auto;
		flex: 1;

		@include mq($until: desktop) {
			padding-left: var(--outer-margin);
			padding-right: var(--outer-margin);
		}

		@include mq($from: desktop) {
			padding-right: calc(3 * var(--outer-margin));
		}

		ul {
			list-style: none;
			display: flex;
			flex-direction: column;
			padding-left: 0rem;
			padding-top: 0;
			li {
				display: flex;
				flex-direction: column;
			}
		}
	}
}
