.menu {
	flex: 0 0 33%;
	margin-bottom: 0;

	@include mq($until: desktop) {
		border-top: 1px solid var(--gray);
		border-bottom: 1px solid var(--gray);
	}

	li {
		padding-bottom: 0.5em;
	}

	> li {
		a.active {
			color: var(--green);
		}

		ul {
			margin-left: 1em;
			padding-top: 1em;
		}
	}
}
