.menu {
	color: var(--gray);
	width: 100%;
	margin-bottom: 0;
	position: sticky;
	top: calc(1 * var(--navbar-height));
	background-color: var(--gray-very-light);

	@include mq($from: desktop) {
		flex: 0 0 33%;
	}

	@include mq($until: desktop) {
		border-top: 1px solid var(--gray);
		border-bottom: 1px solid var(--gray);
	}

	li {
		padding-bottom: 0.8em;
		color: var(--gray);
		width: 100%;

		@include mq($until: desktop) {
			text-align: center;
		}

		&:hover {
			color: var(--green) !important;
		}
	}

	> li {
		position: relative;
		cursor: pointer;
		span.active {
			color: var(--green);
		}

		ul {
			display: none;
			margin-left: 1em;
			padding-top: 1em;

			@include mq($until: desktop) {
				position: absolute;
				top: 0;
				left: 50%;
				width: 50%;
				transform: translateX(-50%);
				background-color: var(--background);
				margin-left: 0;
				margin-top: 1em;
				padding: 1.5em;
				z-index: 10;
			}

			a {
				color: var(--gray);
				&:hover {
					color: var(--green) !important;
				}
			}

			&.show {
				display: block;
			}
		}
	}
}
