.menu {
	flex: 0 0 33%;
	margin-bottom: 0;
	position: sticky;
	top: calc(1 * var(--navbar-height));
	color: var(--gray);

	@include mq($until: desktop) {
		border-top: 1px solid var(--gray);
		border-bottom: 1px solid var(--gray);
	}

	li {
		padding-bottom: 0.8em;
		color: var(--gray);

		&:hover {
			color: var(--green) !important;
		}
	}

	> li {
		cursor: pointer;
		span.active {
			color: var(--green);
		}

		ul {
			display: none;
			margin-left: 1em;
			padding-top: 1em;

			a {
				color: var(--gray);
				&:hover {
					color: var(--green) !important;
				}
			}

			&.show {
				display: block;
			}
		}
	}
}
