.examples {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	width: 100%;
	li {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 0 0 50%;

		&:nth-of-type(odd) {
			background-color: var(--gray-light);
		}

		.logo {
			height: 3rem;
		}
	}
}
