.headerStaff {
	margin-top: var(--space-big);
	border-top: var(--line);
	margin-top: var(--space-big);
	padding-top: var(--space-big);
	padding-bottom: var(--space);
}

.staff {
	margin-bottom: var(--space-big);
	list-style: none;
	display: grid;
	column-gap: calc(0.5 * var(--gutter));
	row-gap: var(--gutter);
	grid-template-columns: repeat(2, minmax(0, 1fr));

	@include mq($from: desktop) {
		column-gap: var(--gutter);
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
	li:nth-child(2n) {
		h4 {
			color: var(--green);
		}
	}

	.email {
		padding-bottom: 1em;
		display: block;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	h4 {
		margin-top: 0.5rem;
		padding-bottom: 0;
	}
}
