.product {
	margin-left: calc(-1 * var(--outer-margin));
	margin-right: calc(-1 * var(--outer-margin));
}

.intro {
	display: flex;
	flex-direction: column-reverse;
	background-color: var(--gray-light);

	@include mq($from: desktop) {
		flex-direction: row;
	}

	> div {
		padding-top: var(--space);
		padding-left: var(--outer-margin);
		padding-right: var(--outer-margin);
		padding-bottom: var(--space);

		flex: 0 0 100%;

		@include mq($from: desktop) {
			flex: 0 0 50%;
		}

		h1 {
			color: var(--green);
			padding-bottom: 0.5em;
		}
	}

	.introText .wrapper {
		position: sticky;
		top: calc(var(--navbar-height) + var(--space));
	}

	figure {
		height: 100%;
		img {
			object-fit: cover;
			//height: 50vh;
			width: 100%;
		}
	}
}
