.header {
	width: 100vw;
	margin-right: var(--full-bleed-margin);
	margin-left: var(--full-bleed-margin);
	margin-bottom: var(--space);

	@include mq($from: desktop) {
		position: relative;
		display: flex;
		justify-content: flex-start;
		margin-bottom: var(--space-big);
		height: calc(85vh - var(--navbar-height));
	}

	//Om mer än 800px höjd
	@media (min-height: 930px) and (orientation: landscape) {
		height: calc(70vh - var(--navbar-height));
	}

	h1 {
		@include mq($until: desktop) {
			padding-top: 0.5em;
		}
	}

	.image {
		position: relative;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 0;
		animation: reveal 1s ease-out forwards;

		@keyframes reveal {
			0% {
				transform: scale(1.01);
			}
			100% {
				transform: scale(1);
			}
		}
	}

	.fade {
		@include mq($until: desktop) {
			display: none;
		}
		--fadeGray: 250;
		background: rgba(255, 255, 255, 1);
		background: linear-gradient(
			90deg,
			rgba(var(--fadeGray), var(--fadeGray), var(--fadeGray), 0.9) 0%,
			rgba(var(--fadeGray), var(--fadeGray), var(--fadeGray), 0.9) 60%,
			rgba(var(--fadeGray), var(--fadeGray), var(--fadeGray), 0) 100%
		);
		position: absolute;
		top: 0;
		left: 0;
		width: 75%;
		height: 100%;
		z-index: 1;
	}

	.text {
		padding: var(--outer-margin);
		left: 0;
		width: 100%;
		z-index: 100;
		@include mq($from: desktop) {
			position: absolute;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}

		.wrap {
			@include mq($from: desktop) {
				width: 50%;
			}

			.headline {
				color: var(--green);
				strong {
					color: var(--blue);
				}
			}
		}
	}

	&.right {
		.text {
			align-items: flex-end;
		}
		animation: reveal 1s ease-out forwards;

		@keyframes reveal {
			0% {
				transform: scale(1.01);
			}
			100% {
				transform: scale(1);
			}
		}
		.fade {
			background: linear-gradient(
				-90deg,
				rgba(255, 255, 255, 0.9) 0%,
				rgba(255, 255, 255, 0.9) 60%,
				rgba(255, 255, 255, 0) 100%
			);
			right: 0;
			left: auto;
		}
	}
}
