.news {
	width: calc(100% + 2 * var(--outer-margin));
	margin-left: var(--full-bleed-margin);
	margin-right: var(--full-bleed-margin);
	padding-left: var(--outer-margin);
	padding-right: var(--outer-margin);
	padding-top: var(--space);
	padding-bottom: calc(0.85 * var(--space));
	overflow: hidden;
	display: block;

	@include mq($from: desktop) {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	h4,
	h3 {
		margin: 0;
		padding: 0;
	}
	h3 {
		flex: 1 1 auto;
		color: var(--gray);
		@include mq($until: desktop) {
			padding-bottom: 0em;
		}
	}
	h2 {
		margin-right: 1rem;
		@include mq($from: desktop) {
			padding-top: 0.3em;
		}
		@include mq($until: desktop) {
			padding-bottom: 0.5em;
		}
	}
	span {
		white-space: nowrap;
		color: var(--blue);
		margin-right: 1em;

		@include mq($from: desktop) {
			display: flex;
			justify-content: flex-end;
			flex: 0 0;
		}

		&:hover {
			color: var(--red);
		}
	}
}
