.header {
	display: flex;
	flex-direction: row;
	width: var(--full-width);
	border-top: var(--line);
	padding-top: var(--space);
	padding-bottom: var(--space);
	padding-left: var(--outer-margin);
	padding-right: var(--outer-margin);
	margin-left: var(--full-bleed-margin);
	margin-right: var(--full-bleed-margin);

	&.noborder {
		border-top: 0;
	}

	h3 {
		flex: 1 1 auto;
		padding-bottom: 0;
	}
	.arrows {
		@include mq($until: desktop) {
			display: none;
		}
		display: flex;
		flex-direction: row;
		flex: 0 0 auto;
		button {
			all: unset;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.5rem;
			border: 1px solid var(--black);
			border-radius: 50%;
			cursor: pointer;
			height: 1.5rem;
			width: 1.5rem;
			img {
				height: 1rem;
			}
			&.forward {
				margin-left: 0.5em;
			}
			&.back {
				img {
					transform: rotate(180deg);
				}
			}
		}
	}
	background-color: var(--white);
}
.projects {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: var(--outer-margin);
	padding-top: var(--space);
	padding-bottom: var(--space);
	background-color: var(--gray);
	margin-left: var(--full-bleed-margin);
	margin-right: var(--full-bleed-margin);

	.swiper {
		width: 100%;
		max-width: 100%;
		overflow: visible;

		.slideWrap {
			.slide {
				width: calc(100% - (3 * var(--gutter)));
				height: auto;
				background-color: var(--white);
				cursor: pointer;
				border-radius: var(--border-radius);
				margin-right: var(--gutter);

				a {
					display: block;
					padding: var(--outer-margin);

					@include mq($from: desktop) {
						padding: var(--space);
					}
				}

				@include mq($from: desktop) {
					width: 33.3333%;
					height: auto;
				}

				&:hover {
					h4 {
						color: var(--red);
					}
					box-shadow: var(--shadow);
				}

				.bar {
					display: flex;
					flex-direction: row;
					width: 100%;

					.logo {
						flex: 1 1 auto;
						img {
							height: 1rem;
						}
						padding-bottom: 0.5rem;
					}
					.arrow {
						flex: 0 0 auto;
						button {
							all: unset;
						}
					}
				}
			}
		}
	}
}
