.hero {
	position: relative;
	width: calc(100% + 2 * var(--outer-margin));
	height: calc(100vh - 2 * var(--navbar-height));
	margin-left: calc(-1 * var(--outer-margin));
	margin-right: calc(-1 * var(--outer-margin));
	overflow: hidden;

	@include mq($until: desktop) {
		width: calc(100% + 2 * var(--outer-margin));
		height: calc(70vh - 2 * var(--navbar-height));
	}

	.player {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		z-index: 0;
	}

	video {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		min-width: 100%;
		min-height: 100%;
		max-width: none;
		max-height: none;
		transform: translate(-50%, -50%) scale(1.2);
		object-fit: cover;
		object-position: center;
	}

	header {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: var(--outer-margin);
		background-color: rgba(0, 0, 0, 0);
		color: var(--white);
		.title {
			color: var(--white);
			padding-top: 0;
			padding-bottom: 1em;
			line-height: 1.3;
		}
	}
}
