.logos {
	position: relative;
	overflow: hidden;
	margin-left: var(--full-bleed-margin);
	margin-right: var(--full-bleed-margin);
	background-color: var(--gray);
	height: var(--navbar-height);
	max-width: 100vw;
	display: flex;
	align-items: center;

	.wrapper {
		position: absolute;
		display: flex;
		.images {
			display: flex;
			animation: slide 12000ms linear infinite backwards;
			@keyframes slide {
				0% {
					transform: translate(0);
				}

				100% {
					transform: translate(-100%);
				}
			}
			img {
				height: 1.5rem;
				margin-right: 3rem;
			}
		}
	}
}
