.projects {
	@include mq($until: desktop) {
		//display: none;
	}
}
.projectsMobile {
	@include mq($from: desktop) {
		display: none;
	}
}
.shortcuts {
	@include mq($until: desktop) {
		//border-top: var(--line);
		//padding-top: var(--space-big);
	}
	@include mq($from: desktop) {
		margin-bottom: var(--space-big);
	}

	ul {
		position: relative;
		list-style: none;
		margin-bottom: var(--space-big);

		@include mq($from: desktop) {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			margin: 0;
			justify-content: space-between;
		}
		@include mq($until: desktop) {
			li:first-of-type {
				margin-bottom: 1px;
			}
		}
	}
}

.text {
	margin-bottom: var(--space-big);
	padding-top: var(--space-big);

	@include mq($from: desktop) {
		display: flex;
		flex-direction: row;

		> div:first-child {
			width: 30%;
		}
		> div:last-child {
			width: 60%;
			margin-left: 10%;
		}
	}
}

.jobs {
	margin-top: var(--space-big);
	margin-bottom: var(--space-big);
	@include mq($from: desktop) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		> div {
			flex: 0 0 calc(50% - var(--gutter));
		}
	}
	h2 {
		padding-top: 0.8em;
		@include mq($from: desktop) {
			padding-top: 0.5em;
		}
	}
}
