.appdownload {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;

	@include mq($from: desktop) {
		height: var(--navbar-height);
	}

	figure {
		width: 15rem;
		height: var(--navbar-height);
		display: flex;
		img {
			object-fit: cover;
		}
	}

	h3 {
		@include mq($until: desktop) {
			display: none;
		}
		padding-bottom: 0;
	}

	.download {
		@include mq($until: desktop) {
			width: 100%;
			display: flex;
			justify-content: center;
			padding-top: var(--space-small);
			padding-bottom: var(--space-small);
		}
	}

	.store {
		margin-left: 0.5rem;
	}
}

.products {
	width: calc(100% + 2 * var(--outer-margin));
	background-color: var(--gray-light);
	margin-left: calc(-1 * var(--outer-margin));
	margin-right: calc(-1 * var(--outer-margin));
	.header {
		display: flex;
		flex-direction: row;
		padding-left: var(--outer-margin);
		padding-right: var(--outer-margin);
		padding-top: var(--space);

		> h2 {
			flex: 1 1 auto;
		}
		.private {
			h3 {
				padding-bottom: 0;
			}
			span {
				color: var(--gray);
			}
			text-align: center;
		}
	}
	ul {
		list-style: none;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		padding-left: var(--outer-margin);
		padding-right: var(--outer-margin);
		margin-bottom: 0;
		padding-bottom: var(--space);

		li {
			display: flex;
			text-align: center;
			flex-direction: column;
			img {
				max-height: 40vh;
			}

			h4 {
				padding-top: 1.5em;
				color: var(--gray);
			}

			&:hover h4 {
				color: var(--green);
			}
		}
	}
}

.shortcuts {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: calc(100% + 2 * var(--outer-margin));
	margin-left: calc(-1 * var(--outer-margin));
	margin-right: calc(-1 * var(--outer-margin));
}
