.column {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex: 0 0 50%;
	flex: 1;

	&.green {
		background-color: var(--green);
		color: var(--white);
		p {
			color: var(--gray-dark);
		}
		h3 {
			color: var(--gray-light);
		}
	}
	&.gray {
		background-color: var(--gray);
		color: var(--green);
		p {
			color: var(--white);
		}
	}

	.text {
		height: 100%;
		padding-left: var(--outer-margin);
		padding-right: var(--outer-margin);
		padding-top: var(--space);
		padding-bottom: var(--space);
	}
	figure {
		@include mq($until: desktop) {
			display: none;
		}
		flex: 0 0 25%;
		margin-right: var(--outer-margin);

		img {
			width: 100%;
			object-fit: cover;
		}
	}
}
