.shortcut {
	flex: 0 0 50%;
	padding: var(--outer-margin);
	padding-top: var(--space);
	padding-bottom: var(--space);
	transition: background-color 0.3s;
	&.green {
		background-color: var(--green);
		h2 {
			color: var(--gray-dark);
		}
		&:hover {
			background-color: var(--green-darken);
		}
	}
	&.gray {
		color: var(--white);
		background-color: var(--gray);
		h2 {
			color: var(--green);
		}
		&:hover {
			background-color: var(--gray-darken);
		}
	}
	p {
		color: var(--white);
	}
}
