.product {
	margin-left: calc(-1 * var(--outer-margin));
	margin-right: calc(-1 * var(--outer-margin));
}

.intro {
	display: flex;
	flex-direction: row;
	height: 50vh;
	background-color: var(--gray-light);

	> div {
		flex: 0 0 50%;
		padding-top: var(--space);
		padding-left: var(--outer-margin);
		padding-right: var(--outer-margin);
		h1 {
			color: var(--green);
			padding-bottom: 0.5em;
		}
	}
	figure {
		height: 100%;
		img {
			object-fit: cover;
			height: 50vh;
			width: 100%;
		}
	}
}
