.topbar {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: var(--space);
	width: 100%;
	height: var(--navbar-height);
	padding: var(--outer-margin);
	z-index: var(--z-hamburger);
	backdrop-filter: var(--blur);

	.logo {
		flex: 1 1 auto;
		img {
			height: 1.8rem;
		}
	}

	.hamburger {
		display: flex;
		justify-content: flex-end;
		flex: 0 0 auto;
		margin-right: -6px;

		button {
			all: unset;
			color: var(--white);
		}
	}

	@include mq($from: desktop) {
		display: none;
	}
}

.navbarMobile {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	background-color: var(--green);
	padding: var(--outer-margin);
	font-size: 1.5rem;
	color: var(--white);
	padding-top: calc(var(--navbar-height) + var(--space));
	z-index: var(--z-navbar);
	transform: translateX(-100%);
	transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);

	&.open {
		transform: translateX(0%);
	}

	a {
		color: var(--white);
	}

	ul {
		list-style: none;

		li {
			padding-bottom: 1em;
			padding-top: 1em;

			&:first-child {
				padding-top: 0;
			}

			&.active {
				* {
					color: var(--black) !important;
				}
			}
		}
	}

	.menu {
		display: flex;
		flex-direction: column;
		list-style: none;
		flex: 1 1 auto;

		> li {
			line-height: 1;
			border-bottom: 1px solid var(--white);
			cursor: pointer;

			> ul {
				display: flex;
				flex-direction: column;
				margin-left: 1em;
				margin-top: 0.5em;

				li {
					padding-top: 0.5em;
					padding-bottom: 0.5em;
					&.active {
						> a {
							color: var(--gray);
						}
					}
				}
			}
		}
	}

	@include mq($from: desktop) {
		display: none;
	}
}
