@font-face {
  font-family: "Jost";
  src: url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,900;1,100;1,900&display=swap");
  font-weight: 100 600 900; /* Om du vill använda flera vikter */
  font-style: normal; /* eller italic beroende på variant */
}
