.column {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;

	&.green {
		background-color: var(--green);
		color: var(--white);
	}
	&.gray {
		background-color: var(--gray);
		color: var(--white);
	}

	figure {
		flex: 0 0 50%;

		img {
			width: 100%;
			object-fit: cover;
		}
	}
	.text {
		flex: 0 0 50%;
	}
}
