.column {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex: 0 0 50%;

	&.green {
		background-color: var(--green);
		color: var(--white);
		h3 {
			color: var(--gray-light);
		}
	}
	&.gray {
		background-color: var(--gray-light);
		color: var(--green);
	}

	.text {
		height: 100%;
	}
	figure {
		flex: 0 0 50%;

		img {
			width: 100%;
			object-fit: cover;
		}
	}
}
