.gallery {
	position: relative;
	width: calc(100% + var(--outer-margin));
	margin-top: var(--space);
	margin-right: calc(-1 * var(--outer-margin));
	border-top: 1px solid var(--gray);
	padding-top: var(--space-big);
	margin-bottom: var(--space);

	.nav {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		padding-right: var(--outer-margin);
		position: absolute;
		top: 1.5rem;
		left: 0;
		z-index: 1;

		@include mq($until: desktop) {
			display: none;
		}

		a {
			margin-right: 0.5rem;
		}

		button {
			all: unset;
			cursor: pointer;
			padding-left: 0.5rem;
			background-color: --white;
		}

		.back {
			transform: rotate(180deg);
		}

		.forward {
		}
	}

	figcaption {
	}

	.swiper {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		overflow: hidden;
		user-select: none;
		cursor: pointer;

		> div {
			display: flex;
			flex-direction: row;
			align-items: flex-end;

			.slide {
				position: relative;
				flex: 0 0 33.333333%;
				margin-right: var(--gutter);

				> figure {
					position: relative;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: flex-start;
					cursor: pointer;
					height: 100%;

					@include mq($until: desktop) {
						width: calc(100vw - calc(4 * var(--outer-margin)));
					}

					img {
						height: 100%;
						aspect-ratio: 4/3;
						object-fit: contain;

						@include mq($from: desktop) {
						}
					}
				}

				&.portrait {
					flex: 0 1 auto;

					> figure {
						@include mq($until: desktop) {
							width: auto;
						}
					}

					img {
						width: auto !important;
					}
				}
			}
		}
	}
}
