.textandimage {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 100%;

	@include mq($from: desktop) {
		flex-direction: row;
	}

	figure,
	.text {
		width: 100%;
		@include mq($from: desktop) {
			flex: 0 0 50%;
		}
	}
	&.right {
		@include mq($from: desktop) {
			flex-direction: row-reverse;
		}
	}
	&.green {
		background-color: var(--green);
	}
	&.gray {
		background-color: var(--gray-light);
	}
	.text {
		padding-left: var(--outer-margin);
		padding-top: var(--space);
		padding-bottom: var(--space);
	}
}
