.textandimage {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	figure,
	.text {
		flex: 0 0 50%;
	}
	&.right {
		flex-direction: row-reverse;
	}
	&.green {
		background-color: var(--green);
	}
	&.gray {
		background-color: var(--gray-light);
	}
	.text {
		padding-left: var(--outer-margin);
		padding-top: var(--space);
	}
}
