.wrap {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;

	.video {
		display: block;
		height: auto;
		width: 100%;
		flex: 0 0;
	}

	figcaption {
		margin-top: var(--space-small);
		margin-bottom: var(--space-small);
		text-align: center;
	}
}
