.wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc(100vh - var(--navbar-height));

	h1 {
		color: var(--green);
		padding-bottom: var(--space);
	}

	.form {
		display: flex;
		flex: 0 0;
		flex-direction: column;
		width: 30%;
		input,
		div,
		.grid,
		form {
			width: 100%;
			font-family: var(--body-font);
		}

		input {
			background-color: var(--gray-light);
			padding: 1em;
		}
	}
}
